.avatar{
    border:2px solid #031a40;
    width: 100%;

}
.avatar-2{
    border:2px solid #031a40;
    width: 90%;

}
.hr_message{
    width: 100%;
    margin-bottom: 2rem;
}
.best-members{
    text-decoration: underline;
}
.score{
    width: 100px;
}